# Peer Review Assignment - Data Engineer - ETL

In [ ]:
#!pip install glob
#!pip install pandas
#!pip install requests
#!pip install datetime

### Imports

In [1]:
import pandas as pd
from datetime import datetime

### JSON Extract Function

In [2]:
def extract_from_json(file_to_process):
    dataframe = pd.read_json(file_to_process)
    return dataframe

### Extracting Dataframe from JSON

In [5]:
df = extract_from_json('bank_market_cap_1.json')
columns=['Name','Market Cap (US$ Billion)']
df[columns]

                                       Name  Market Cap (US$ Billion)
0                            JPMorgan Chase                   390.934
1   Industrial and Commercial Bank of China                   345.214
2                           Bank of America                   325.331
3                               Wells Fargo                   308.013
4                   China Construction Bank                   257.399
..                                      ...                       ...
65                             Ping An Bank                    37.993
66                       Standard Chartered                    37.319
67                     United Overseas Bank                    35.128
68                                QNB Group                    33.560
69                              Bank Rakyat                    33.081

[70 rows x 2 columns]

In [9]:
usd_gbp = 0.7323984208000001
df['Market Cap (GBP Billion)'] = df['Market Cap (US$ Billion)'] * usd_gbp

In [10]:
columns=['Name','Market Cap (GBP Billion)']
df[columns]

                                       Name  Market Cap (GBP Billion)
0                            JPMorgan Chase                348.107180
1   Industrial and Commercial Bank of China                307.395806
2                           Bank of America                289.690989
3                               Wells Fargo                274.270176
4                   China Construction Bank                229.200940
..                                      ...                       ...
65                             Ping An Bank                 33.830867
66                       Standard Chartered                 33.230704
67                     United Overseas Bank                 31.279728
68                                QNB Group                 29.883502
69                              Bank Rakyat                 29.456976

[70 rows x 2 columns]

## Logging Function

In [ ]:
def log(message):
    timestamp_format = '%Y-%h-%d-%H:%M:%S' # Year-Monthname-Day-Hour-Minute-Second
    now = datetime.now() # get current timestamp
    timestamp = now.strftime(timestamp_format)
    with open("logfile.txt","a") as f:
        f.write(timestamp + ',' + message + '\n')